{{- $github_signing_key := promptStringOnce . "github_signing_key" "GitHub signing key location" }}

[git]
autoPush = true

[data]
github_signing_key = {{ $github_signing_key | quote }}

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
