[user]
  name = {{ .lunar_name }}
  email = {{ .lunar_email }}
  signingkey = {{ .github_signing_key }}

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
{{- if or (not .signing_program) (eq .signing_program "1password") }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .signing_program "custom" }}
  program = {{ .signing_program_path | quote }}
{{- end }}

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
