[include]
  path = dotfiles/.gitconfig

[includeIf "gitdir/i:/Users/svn/code/lunar/"]
  path = .gitconfig_lw
[includeIf "gitdir/i:/Users/svn/go/src/github.com/lunarway/"]
  path = .gitconfig_lw
[url "git@github.com:lunarway"]
	insteadof = https://github.com/lunarway

