{{- if eq .chezmoi.os "darwin" -}}
tap "1password/tap"
tap "ellie/atuin"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "atuin"
brew "bat"
brew "chezmoi"
brew "curl"
brew "difftastic"
brew "gh"
brew "git"
brew "graphviz"
brew "htop"
brew "jj"
brew "jq"
brew "macos-trash", link: true
brew "mas"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "tree"
brew "watchman"
brew "yt-dlp"
brew "zoxide"
cask "dropbox"
cask "firefox"
cask "font-iosevka"
cask "font-symbols-only-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "ollama-app"
cask "raycast"
cask "rectangle"
cask "the-unarchiver"
cask "vlc"
{{ end -}}
