{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "curl"
brew "difftastic"
brew "gh"
brew "git"
brew "graphviz"
brew "htop"
brew "jj"
brew "jq"
brew "macos-trash", link: true
brew "ripgrep"
brew "starship"
brew "tmux"
brew "tree"
brew "typst"
brew "typstyle"
brew "watchman"
brew "yt-dlp"
cask "dropbox"
cask "firefox"
cask "font-iosevka"
cask "font-symbols-only-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "ollama-app"
cask "raycast"
cask "rectangle"
cask "the-unarchiver"
cask "vlc"
cask "hammerspoon"
EOF
{{ end -}}
