{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euo pipefail

# Keep keyboard repeat behavior consistent across Macs.
defaults write -g ApplePressAndHoldEnabled -bool false
defaults write -g InitialKeyRepeat -int 15
defaults write -g KeyRepeat -int 2
{{ end -}}
